<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karten Forum</title>
    <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="header">
        <div class="headline">Forum</div>
        <form class="menu">
            <div class="nav">
                <ul class="navi">
                    <li><a href="../" class="link">Home</a></li>
                    <li><a href="profil/" class="link">Profil</a></li>
                    <li><a href="#" class="link">Themen</a></li>
                    <li><a href="impressum/" class="link">Impressum</a></li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="text-benutzer">Benutzername</div>
            <div class="line"></div>
            <input class="w3-input w3-border w3-round-large" id="benutzer"  placeholder="Benutzername" aria-label="user">
            <div class="line"></div>
            <div class="text-password">Passwort</div>
            <div class="line"></div>
            <input class="w3-input w3-border w3-round-large" id="password"  placeholder="Passwort" aria-label="password">
            <div class="line"></div>
            <input type="submit" class="login" value="Login"/>
            <div class="line"></div>
            <a href="registrierung/" class="registrierung">Registrierung</a>
            <div class="line"></div>
            
        </form>
       
    </div>
    <div class="container">
        <div class="main-left">
           
            <ul>
                <li><a href="../" class="link">Home</a></li>
                <li><a href="profil/" class="link">Profil</a></li>
                <li><a href="#" class="link">Themen</a></li>
                <li><a href="impressum/" class="link">Impressum</a></li>
                <li> <button onclick="darkmode()">Dark Mode</button></li>
            </ul>
        </div>
        <div class="main">
            <div class="container">
                {% for x in forum %}
                <div class="profil_inhalt">
                    <table id="forum" class="forum_tabelle">
                        <tr><td class="headline">{{ x.headline }}</td></tr>
                        <tr><td class="theaser">{{ x.theaser }}</td></tr>
                        <tr><td><a href="update/{{x.id}}" class="update">Profil bearbeiten</a></td></tr>
                    </table>
                </div>
               
                {% endfor %}
            </div>
        </div>
        <div class="main-right">
            <a href="theaser/" class="theaser">Neues Thema anlgen</a>
        </div>
    </div>
    <script>
        function darkmode() {
           var element = document.body;
           element.classList.toggle("dark-mode");
        }
    </script>
</body>
</html>