<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karten Forum</title>
    <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="header">
        <div class="headline">Forum</div>
        <form class="menu">
            <div class="line"></div>
            <div class="text-benutzer">Benutzername</div>
            <div class="line"></div>
            <input class="w3-input w3-border w3-round-large" id="benutzer"  placeholder="Benutzername" aria-label="user">
            <div class="line"></div>
            <div class="text-password">Passwort</div>
            <div class="line"></div>
            <input class="w3-input w3-border w3-round-large" id="password"  placeholder="Passwort" aria-label="password">
            <div class="line"></div>
            <input type="submit" class="login" value="Login"/>
            <div class="line"></div>
            <a href="registrierung/" class="registrierung">Registrierung</a>
            <div class="line"></div>
        </form>
       
    </div>
<div class="main-left">
    <a href="profil/" class="link">Profil</a>
    <a href="#" class="link">Themen</a>
</div>
<div class="main">

</div>
<div class="main-right">

</div>
</body>
</html>