<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karten Forum</title>
    <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="header">
        <div class="headline">Forum</div>
        <form class="menu">
            <div class="text-benutzer">Benutzername</div>
            <input class="w3-input w3-border w3-round-large" name="q" id="benutzer"  placeholder="Benutzername" aria-label="user">
            <div class="text-password">Passwort</div>
            <input class="w3-input w3-border w3-round-large" name="q" id="password"  placeholder="Passwort" aria-label="password">
            <div class="line"></div>
            <button class="login">Login</button>
            <div class="line"></div>
            <button class="regestrieren">Regestrieren</button>
        </form>
       
    </div>
<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>

</body>
</html>