{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karten Forum</title>
    <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="header">
        <div class="headline">Neues Theaser</div>
        <form class="menu">
            <div class="nav">
                <ul class="navi">
                    <li><a href="../" class="link">Home</a></li>
                    <li><a href="/members/profil/" class="link">Profil</a></li>
                    <li><a href="#" class="link">Themen</a></li>
                    <li><a href="/members/impressum/" class="link">Impressum</a></li>
                </ul>
            </div>
        </forum>
    </div>
    <div class="container">
        <form class="regestrieren" action="addrecord/" method="post">
            {% csrf_token %}
            <div class="headline">
                <div class="benutzer">Benutzername</div>
                <input class="w3-input w3-border w3-round-large" name="benutzername" id="benutzername"  placeholder="Benutzername" aria-label="user">
            </div>
            <div class="name">
                <div class="firstname">Vorname</div>
                <input class="w3-input w3-border w3-round-large" name="firstname" id="firstname"  placeholder="Vorname" aria-label="first-name">
            </div>
            <input type="submit" class="registrierung" value="Registrierung">
            <a href="/members" class="zurück">Zurück</a>
        </form> 
    </div>
</body>
</html>