{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regestrieren</title>
        <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    </head>
    
    <body>
        <div class="header">
            <div class="headline">Profil bearbeiten</div>
        </div>
        <div class="container">
            <form class="profileding" action="updaterecord/{{ profil.id }}" method="post">
                {% csrf_token %}
                <div class="benutzer-bearbeiten">
                    <div class="bearbeiten-benutzername" id="inputGroup-sizing-default">Benutzername:</div>
                    <input type="text" class="benutzername-eding" name="benutzername" value="{{ profil.benutzername }}">
                    <div class="bearbeiten-email" id="inputGroup-sizing-default">E-Mail:</div>
                    <input type="text" class="email-eding" name="email" value="{{ profil.email }}">
                </div>
                <div class="name-bearbeiten">
                    <div class="bearbeiten-firstname" id="inputGroup-sizing-default">Vorname:</div>
                    <input type="text" class="firstname-eding" name="firstname" value="{{ profil.firstname }}">
                    <div class="bearbeiten-lastname" id="inputGroup-sizing-default">Nachname:</div>
                    <input type="text" class="lastname-eding" name="lastname" value="{{ profil.lastname }}">
                </div>
                <div class="password-bearbeiten">
                    <div class="bearbeiten-password" id="inputGroup-sizing-default">Passwort:</div>
                    <input type="text" class="password-eding" name="password" value="{{ profil.password }}">
                    <div class="bearbeiten-repeatpassword" id="inputGroup-sizing-default">Passwort wiederholen:</div>
                    <input type="text" class="repeatpassword-eding" name="repeatpassword" value="{{ profil.repeatpassword }}">
                </div>
                <br><br>
                <input type="submit" class="eding" value="Update">
                <a href="/members/profil" class="zurück">Zurück</a>
            </form>
        </div>
    </body>
</html>