{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regestrieren</title>
        <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    </head>

<body>
    <div class="header">
        <div class="headline">Profil</div>
    </div>
    <div class="container">
        <div class="profil">
            <ul id="update" class="update">
            {% for x in profil %}
            <li>
                <div class="profil">Benutzername: <div class="inhalt">{{ x.benutzername }}</div></div>
                <div class="profil">E-Mail: <div class="inhalt">{{ x.email }}</div> </div>
                <div class="profil">Vorname: <div class="inhalt">{{ x.firstname }}</div></div>
                <div class="profil">Nachname: <div class="inhalt">{{ x.lastname }}</div> </div>
                <div class="profil">Passowort: <div class="inhalt">{{ x.password }}</div></div>
                <div class="profil">2. Passwort: <div class="inhalt">{{ x.repeatpassword }}</div></div>
            </li>
            {% endfor %}
        </ul>
        <a href="update/" class="link">Profil bearbeiten</a>
        <a href="/members" class="zurück">Zurück</a>
    </div>
</body>
</html>