{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regestrieren</title>
        <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %} ">
    </head>

<body>
    <div class="header">
        <div class="headline">Profil</div>
    </div>
    <div class="container">
        {% for x in profil %}
        <div class="profil_inhalt">
            <table id="profil" class="profil_tabelle">
                <tr><td class="profil">Benutzername: </td><td class="inhalt">{{ x.benutzername }}</td></tr>
                <tr><td class="profil">E-Mail: </td><td class="inhalt">{{ x.email }}</td> </tr>
                <tr><td class="profil">Vorname: </td><td class="inhalt">{{ x.firstname }}</td></tr>
                <tr><td class="profil">Nachname: </td><td class="inhalt">{{ x.lastname }}</td> </tr>
                <tr><td class="profil">Passwort: </td><td class="inhalt">{{ x.password }}</td></tr>
                <tr><td class="profil">Passwort wiederholen: </td><td class="inhalt">{{ x.repeatpassword }}</td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td><a href="update/{{x.id}}" class="update">Profil bearbeiten</a></td></tr>
            </table>
        </div>
       
        {% endfor %}
        <div class="zurück"><a href="/members" class="zurück">Zurück</a></div>
    </div>
</body>
</html>