{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regestrieren</title>
        <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    </head>
    
    <body>
        <div class="header">
            <div class="headline">Profil bearbeiten</div>
        </div>
        <div class="container">
            <form class="profileding" action="updaterecord/{{ daten.id }}" method="post">
                {% csrf_token %}
                <div class="menge_angabe" id="inputGroup-sizing-default">Benutzername:</div>
                <input type="text" class="benutzername" name="benutzername" value="{{ daten.benutzername }}">
                <br><br>
                <div class="beschreibung" id="inputGroup-sizing-default">E-Mail:</div>
                <input type="text" class="email" name="email" value="{{ daten.email }}">
                <br><br>
                <div class="beschreibung" id="inputGroup-sizing-default">Vorname:</div>
                <input type="text" class="firstname" name="firstname" value="{{ daten.firstname }}">
                <br><br>
                <div class="beschreibung" id="inputGroup-sizing-default">Nachname</div>
                <input type="text" class="lastname" name="lastname" value="{{ daten.lastname }}">
                <br><br>
                <div class="beschreibung" id="inputGroup-sizing-default">Passwort</div>
                <input type="text" class="password" name="password" value="{{ daten.password }}">
                <br><br>
                <div class="beschreibung" id="inputGroup-sizing-default">Passwort wiederholen</div>
                <input type="text" class="repeatpassword" name="repeatpassword" value="{{ daten.repeatpassword }}">
                <br><br>
                <a href="/members/profil" class="zurueck">Zurück</a>
                <input type="submit" class="eding" value="Update">
            </form>
        </div>
    </body>
</html>