{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regestrieren</title>
        <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    </head>

<body>
    <div class="header">
        <div class="headline">Profil</div>
    </div>
    <div class="container">
        <table border="1">
            {% for x in registierens %}
            <tr>
                <td>{{ x.benutzername }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.firstname }}</td>
                <td>{{ x.lastname }}</td>
                <td>{{ x.password }}</td>
                <td>{{ x.theaseranswer }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/members" class="zurück">Zurück</a>
    </div>
</body>
</html>