<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karten Forum</title>
    <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="shortcut icon" href="{% static 'favicon.ico' %} ">
    <script>
        document.onkeyup = ausgabe
        function ausgabe()
        {
        if(window.event.keyCode == 13)
        {
        alert("Enter gedrückt")
        return false
        }
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="headline">Forum</div>
        <form class="menu">
            <div class="nav">
                <ul class="navi">
                    <li><a href="../" class="link">Home</a></li>
                    <li><a href="profil/" class="link">Profil</a></li>
                    <li><a href="#" class="link">Themen</a></li>
                    <li><a href="impressum/" class="link">Impressum</a></li>
                </ul>
            </div>
        </form>
    </div>
    <div class="container theaser_answer">
        <div class="main-left">
           
          
        </div>
        <div class="main">
            <div class="answer_container">
                <form action="{{ theaser.id }}" method="post">
                    {% csrf_token %}
                    <table id="forum" class="forum_tabelle">
                        <tr><td class="headline">{{ theaser.headline }}</td></tr>
                        <tr><td class="theaser">{{ theaser.theaser_text }}</td></tr>
                    </table>
                    {% for x in anserforum %}
                        <div class="forum_inhalt">
                            <table id="forum" class="forum_tabelle">
                                <tr><td class="answertext">{{ x.theaseranswer }}</td></tr>
                            </table> 
                        </div>
                    {% endfor %}
                </form>
                <form class="theaseranswer"  method="post">
                    {% csrf_token %}
                    <div class="thema">
                        <textarea class="w3-input w3-border w3-round-large" name="theaseranswer" placeholder="Antwort" aria-label="Antwort"></textarea>
                    </div>
                    <input type="submit" class="forum" value="Posten">
                    <a href="/members" class="zurück">Zurück</a>
                </form> 
            </div>
        </div>
        <div class="main-right">
        </div>
    </div>
    <script>
        function darkmode() {
           var element = document.body;
           element.classList.toggle("dark-mode");
        }
        
        
        $("form").submit(function() {
            var checked_ids = new Array();
            var f_amount = $("select option:selected").val();
            $("#demo2").jstree("get_checked",null,true).each 
                (function (index,value) {
                    if (value.children[2].id) { 
                        checked_ids.push(value.children[2].id); 
                    }
                });
            var f_ids = checked_ids.join(" ");

        });
        
        
    </script>
</body>
</html>