<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karten Forum</title>
    <link rel="icon" type="favicon/favicon.ico" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="header">
        <div class="headline">Forum</div>
        <form class="menu">
            <div class="nav">
                <ul class="navi">
                    <li><a href="../" class="link">Home</a></li>
                    <li><a href="profil/" class="link">Profil</a></li>
                    <li><a href="#" class="link">Themen</a></li>
                    <li><a href="impressum/" class="link">Impressum</a></li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="text-benutzer">Benutzername</div>
            <div class="line"></div>
            <input class="w3-input w3-border w3-round-large" id="benutzer"  placeholder="Benutzername" aria-label="user">
            <div class="line"></div>
            <div class="text-password">Passwort</div>
            <div class="line"></div>
            <input class="w3-input w3-border w3-round-large" id="password"  placeholder="Passwort" aria-label="password">
            <div class="line"></div>
            <input type="submit" class="login" value="Login"/>
            <div class="line"></div>
            <a href="registrierung/" class="registrierung">Registrierung</a>
            <div class="line"></div>
        </form>
    </div>
    <div class="container theaser_answer">
        <div class="main-left">
           
          
        </div>
        <div class="main">
            <div class="container answer_container">
                <form action="{{ theaser.id }}" method="post">
                    {% csrf_token %}
                    <table id="forum" class="forum_tabelle">
                        <tr><td class="headline">{{ theaser.headline }}</td></tr>
                        <tr><td class="theaser">{{ theaser.theaser_text }}</td></tr>
                        <tr><td class="theaseranswer">{{ theaser.theaseranswer }}</td></tr>
                    </table>
                </form>
               
                <form class="theaseranswer"  method="post">
                    {% csrf_token %}
                    <div class="thema">
                        <textarea class="w3-input w3-border w3-round-large" name="theaser_answer" id="theaser_text"  placeholder="Antwort" aria-label="theaser"></textarea>
                    </div>
                    <input type="submit" class="forum" value="Posten" onclick="answer()">
                    <a href="/members" class="zurück">Zurück</a>
                </form> 
            </div>
        </div>
        <div class="main-right">
        </div>
    </div>
    <script>
        function darkmode() {
           var element = document.body;
           element.classList.toggle("dark-mode");
        }
 
        function answer() {
            let itemName = prompt('Antworten');
            let token = '{{ csrf_token }}';
            let formData = new FormData();
            formData.append('forumanswer', forumanswer);
            formData.append('csrfmiddlewaretoken', token);
            fetch('/answer/', {
                method: 'POST',
                body: formData
            });        
            window.location.reload();
        }
    </script>
</body>
</html>