$header: #8b2323;
$gray: #b8b8b8;
$red: red;
$blue: blue;
$white: white;
$green: green;
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 16px;
}
.header{
    background: $header;
    display: flex;
    padding-left: 45px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60px;
    #benutzer{
        position: absolute;
        right: 300px;
        max-width:200px;
        width: auto;
        height: 15px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        top: 10px;
        display: flex;
        justify-content: right;
    }
    #password{
        position: absolute;
        right: 15px;
        max-width:200px;
        width: auto;
        height: 15px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        top: 10px;
        display: flex;
        justify-content: right;
    }
    .text-benutzer{
        position: absolute;
        right: 480px;
        max-width:200px;
        width: auto;
        height: 20px;
        padding: 12px;
        border-radius: 4px;
        resize: vertical;
        top: 10px;
        display: flex;
        justify-content: right;
    }
    .text-password{
        position: absolute;
        right: 190px;
        max-width:200px;
        width: auto;
        height: 20px;
        padding: 12px;
        border-radius: 4px;
        resize: vertical;
        top: 10px;
        display: flex;
        justify-content: right;
    }
    .headline{
        padding: 3px 0 3px 0;
        font-weight: bold;
        font-size: 45px;
    }
    .login{
        position: absolute;
        right: 190px;
        max-width:200px;
        width: auto;
        height: 20px;
        padding: 12px;
        border-radius: 4px;
        resize: vertical;
        top: 10px;
        display: flex;
        justify-content: right;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .regestrieren{
        position: absolute;
        right: 190px;
        max-width:200px;
        width: auto;
        height: 20px;
        padding: 12px;
        border-radius: 4px;
        resize: vertical;
        top: 10px;
        display: flex;
        justify-content: right;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

}

.mymember{
    .headline2{
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background: rgba($header, 0.5);
        .subheadline{
            font-size: 20px;
            padding-left: 50px;
            
        }
    }
    
    .list-item {
        background-color: white;
        height: 60px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        padding-left: 30px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        max-width: 100%;
        padding-right: 10px;
        align-items: center;
        .delete{
            max-width: 180px;
            width: auto;
            padding: 10px;
            background: $red;
            text-align: center;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            color: black;
            position: absolute;
            right: 15px;
            border-radius: 10px;
            color: white;
            
        }
        .update{
            display: flex;
            margin-top: 10px;
            padding-inline-start: 15px;
            li{
                list-style-type: none;
                
            }
           .link{
            display: flex;
            align-items: center;
            padding-top: 10px;
        
           }
            .inhalt:first-child{
                padding-left: 10px;
            }
            .inhalt{
                //margin-left: 50px;
                max-width: 200px;
                width: 110px;
                color: black;
            }
        }
       
        .delete:hover{
            text-decoration: none;
        }
        a{
            color: $white;
            text-decoration: none;
        }
    }
}
.member{
    margin-left: 20px;
    max-width: 180px;
    width: auto;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    background: $blue;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    a{
        text-decoration: none;
        color: $white;
    }
    a:hover{
        text-decoration: none;
    }
}
.update2{
    padding-top: 20px;
    padding-left: 25px;
    .beschreibung{
        max-width: 30px;
        width: 100%;
    }
    .name{
        max-width:200px;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    .menge{
        max-width:200px;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    .color{
        max-width:200px;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    .cost{
        max-width:200px;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    .member2{
        max-width: 180px;
        width: auto;
        padding: 10px 20px 10px 20px;
        border: 1px solid ;
        text-align: center;
        background: $green;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        color:$white;
        cursor: pointer;
    }
    .member2:hover{
        cursor: pointer;
    }
    .zurueck{
        max-width: 180px;
        width: auto;
        padding: 10px 20px 10px 20px;
        text-align: center;
        background: $blue;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        border-radius: 10px;
        font-size: 12px;
    }
    a{
        font-size: 14px;
        color: $white;
    }
    .zurueck:hover{
        text-decoration: none;
    }
}
.add{
    margin-top: 10px;
    margin-left: 25px;
    .beschreibung{
        max-width: 30px;
        width: 100%;
    }
    .name{
        max-width:200px;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    .menge{
        max-width:200px;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    .color{
        max-width:200px;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    .cost{
        max-width:200px;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    .member2{
        max-width: 180px;
        width: auto;
        padding: 10px 20px 10px 20px;
        border: 1px solid ;
        text-align: center;
        background: $green;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        color:$white;
        cursor: pointer;
        
    }
    .member2:hover{
        cursor: pointer;
    }
    .zurueck{
        max-width: 180px;
        width: auto;
        padding: 10px 20px 10px 20px;
        border: 1px solid ;
        text-align: center;
        background: $blue;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        border-radius: 10px;
        font-size: 14px;
    }
    a{
        font-size: 14px;
        color: $white;
    }
    .zurueck:hover{
        text-decoration: none;
    }
}


