$header: #8b2323;
$gray: #b8b8b8;
$red: red;
$blue: blue;
$white: white;
$green: green;
$white-gray: #838b8b;
$dark-gray: #696969;
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 16px;
}
.header{
    background: $header;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 300px;
    .headline{
        margin-left: 45px;
        padding: 10px 0 4px 0;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
    .menu{
        .line{
            width: 100%;
            border-top: 3px solid $dark-gray;
        }
        #benutzer{
            width: 100%;
            height: 15px;
            padding: 12px 0 12px 0;
            resize: vertical;
            border-width: 0;
        }
        #password{
            width: 100%;
            height: 15px;
            padding: 12px 0 12px 0;
            resize: vertical;
            border-width: 0;
        }
        ::placeholder{
            padding-left: 10px;
        }
        .text-benutzer{
            width: 100%;
            height: 20px;
            padding: 12px 0 12px 10px;
            resize: vertical;
            background-color: $white-gray;
        }
        .text-password{
            width: 100%;
            height: 20px;
            padding: 12px 0 12px 10px;
            resize: vertical;
            background-color: $white-gray;
        }
        
        .login{
            width: 100%;
            padding: 10px;
            resize: vertical;
            display: flex;
            background-color: #4CAF50; 
            border: none;
            color: white;
            text-decoration: none;
            font-size: 16px;
            
        }
        .registrierung{
            width: 100%;
            padding: 10px 15px 10px 15px;
            resize: vertical;
            display: flex;
            background-color: #4CAF50; 
            border: none;
            color: white;
            text-decoration: none;
            font-size: 16px;
        }
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        .main-left{
            .link{
                color: black;
                text-decoration: none;
            }
            .link:hover{
                text-decoration: none;
            }
        }
      
    }
    
    @media only screen and (min-width: 1000px){
        display: flex;
        height: 60px;
        padding-left: 0;
        margin-left: 0;
        .headline{
            margin-left: 30px;
            padding: 9px 0 3px 0;
            font-weight: bold;
            font-size: 35px;
            text-align: left;
        }
        .menu{
            .line{
                display: none;
            }
            #benutzer{
                max-width:200px;
                position: absolute;
                top: 10px;
                right: 550px;
                display: flex;
                justify-content: right;
                width: auto;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            #password{
                max-width:200px;
                position: absolute;
                top: 10px;
                right: 280px;
                display: flex;
                justify-content: right;
                width: auto;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            .text-benutzer{
                background: none;
                max-width:200px;
                position: absolute;
                top: 10px;
                right: 740px;
                display: flex;
                justify-content: right;
                width: auto;
            }
            .text-password{
                background: none;
                max-width:200px;
                position: absolute;
                top: 10px;
                right: 450px;
                display: flex;
                justify-content: right;
                width: auto;
            }
            
            .login{
                max-width:200px;
                position: absolute;
                top: 10px;
                right: 160px;
                display: flex;
                justify-content: right;
                width: auto;
                margin-top: 0;
                margin-bottom: 0;
                border-radius: 4px;
            }
            .registrierung{
                max-width:200px;
                position: absolute;
                top: 10px;
                right: 15px;
                display: flex;
                justify-content: right;
                width: auto;
                border-radius: 4px;
            }
            
        }
    }
    @media only screen and (min-width: 1200px){
        .headline{
            margin-top: 0;
            font-size: 45px;
            padding: 3px 0 3px 0;
        }
        .menu{            
            .login{
                right: 180px;
            }
            .registrierung{
                right: 50px;
            }
            
        }
    }
}
.container{
    max-width: 1530px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    .regestrieren{
        margin-top: 15px;
        .benutzer{
            display: flex;
            .benutzer{
                max-width: 200px;
                width: 200px;;
            }
            #benutzername{
                max-width:200px;
                width: 200px;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 30px;
            }
            .email{
                max-width: 200px;
                width: 200px;
                padding-left: 10px;
            }
            #email{
                max-width:200px;
                width: 200px;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 30px;
            }
        }
        .name{
            display: flex;
            .firstname{
                max-width: 200px;
                width: 200px;
            }
            #firstname{
                max-width:200px;
                width: 200px;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 30px;
            }
            .lastname{
                max-width: 200px;
                width: 200px;
                padding-left: 10px;
            }
            #lastname{
                max-width:200px;
                width: 200px;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 30px;
            }
        }
        .password-abfrage{
            display: flex;
            .password{
                max-width: 200px;
                width: 200px;
            }
            #password{
                max-width:200px;
                width: 200px;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 30px;
            }
            .repeatpassword{
                max-width: 200px;
                width: 200px;
                padding-left: 10px;
            }
            #repeatpassword{
                max-width:200px;
                width: 200px;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 30px;
            }
        }
        
    }
}