@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 16px;
}

.header {
  background: #8b2323;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 300px;
}

.header .headline {
  margin-left: 45px;
  padding: 10px 0 4px 0;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.header .menu .line {
  width: 100%;
  border-top: 3px solid #696969;
}

.header .menu #benutzer {
  width: 100%;
  height: 15px;
  padding: 12px 0 12px 0;
  resize: vertical;
  border-width: 0;
}

.header .menu #password {
  width: 100%;
  height: 15px;
  padding: 12px 0 12px 0;
  resize: vertical;
  border-width: 0;
}

.header .menu ::-webkit-input-placeholder {
  padding-left: 10px;
}

.header .menu :-ms-input-placeholder {
  padding-left: 10px;
}

.header .menu ::-ms-input-placeholder {
  padding-left: 10px;
}

.header .menu ::placeholder {
  padding-left: 10px;
}

.header .menu .text-benutzer {
  width: 100%;
  height: 20px;
  padding: 12px 0 12px 10px;
  resize: vertical;
  background-color: #838b8b;
}

.header .menu .text-password {
  width: 100%;
  height: 20px;
  padding: 12px 0 12px 10px;
  resize: vertical;
  background-color: #838b8b;
}

.header .menu .login {
  width: 100%;
  padding: 10px;
  resize: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.header .menu .registrierung {
  width: 100%;
  padding: 10px 15px 10px 15px;
  resize: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.header .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .container .main-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-left: 3px solid #838b8b;
}

.header .container .main-left ul li {
  list-style: none;
}

.header .container .main-left ul li .link {
  color: black;
  text-decoration: none;
}

.header .container .main-left ul li .link:hover {
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    padding-left: 0;
    margin-left: 0;
  }
  .header .headline {
    margin-left: 30px;
    padding: 9px 0 3px 0;
    font-weight: bold;
    font-size: 35px;
    text-align: left;
  }
  .header .menu .line {
    display: none;
  }
  .header .menu #benutzer {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .header .menu #password {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .header .menu .text-benutzer {
    background: none;
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 740px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
  }
  .header .menu .text-password {
    background: none;
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
  }
  .header .menu .login {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
  }
  .header .menu .registrierung {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 1200px) {
  .header .headline {
    margin-top: 0;
    font-size: 45px;
    padding: 3px 0 3px 0;
  }
  .header .menu .login {
    right: 180px;
  }
  .header .menu .registrierung {
    right: 50px;
  }
}

.container {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container .regestrieren {
  margin-top: 15px;
}

.container .regestrieren .benutzer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .regestrieren .benutzer .benutzer {
  max-width: 200px;
  width: 200px;
}

.container .regestrieren .benutzer #benutzername {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .benutzer .email {
  max-width: 200px;
  width: 200px;
  padding-left: 10px;
}

.container .regestrieren .benutzer #email {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .regestrieren .name .firstname {
  max-width: 200px;
  width: 200px;
}

.container .regestrieren .name #firstname {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .name .lastname {
  max-width: 200px;
  width: 200px;
  padding-left: 10px;
}

.container .regestrieren .name #lastname {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .password-abfrage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .regestrieren .password-abfrage .password {
  max-width: 200px;
  width: 200px;
}

.container .regestrieren .password-abfrage #password {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .password-abfrage .repeatpassword {
  max-width: 200px;
  width: 200px;
  padding-left: 10px;
}

.container .regestrieren .password-abfrage #repeatpassword {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .registrierung {
  padding: 5px 10px 5px 10px;
  background-color: green;
  border: none;
  font-size: 16px;
  border-radius: 3px;
}

.container .profil_inhalt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.container .profil_inhalt .profil_tabelle {
  padding: 40px;
  max-width: 100%;
  width: 100%;
}

.container .profil_inhalt .profil_tabelle .profil {
  font-weight: bold;
}

.container .profil_inhalt .profil_tabelle .inhalt {
  padding-left: 20px;
  font-weight: normal;
}

.container .update {
  padding: 5px 10px 5px 10px;
  background-color: green;
  width: auto;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  margin-left: 3%;
}

.container .update:hover {
  text-decoration: none;
}

.container .zurück {
  padding: 5px 10px 5px 10px;
  background-color: blue;
  width: auto;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.container .zurück:hover {
  text-decoration: none;
}

.profileding .benutzer-bearbeiten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileding .name-bearbeiten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileding .password-bearbeiten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */