@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .header .menu .nav .navi li .link {
  color: white;
}

.dark-mode .container .main-left ul li .link {
  color: white;
}

.dark-mode .zurück {
  color: white;
}

.dark-mode .impressum .zurück {
  color: width;
}

.header {
  background: #8b2323;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 300px;
}

.header .headline {
  margin-left: 45px;
  padding: 10px 0 4px 0;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.header .menu .nav .navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .menu .nav .navi li {
  padding-left: 5%;
}

.header .menu .nav .navi li .link {
  text-decoration: none;
  color: black;
}

.header .menu .nav .navi li .link:hover {
  text-decoration: none;
}

.header .menu .line {
  width: 100%;
  border-top: 3px solid #696969;
}

.header .menu #benutzer {
  width: 100%;
  height: 15px;
  padding: 12px 0 12px 0;
  resize: vertical;
  border-width: 0;
}

.header .menu #password {
  width: 100%;
  height: 15px;
  padding: 12px 0 12px 0;
  resize: vertical;
  border-width: 0;
}

.header .menu ::-webkit-input-placeholder {
  padding-left: 10px;
}

.header .menu :-ms-input-placeholder {
  padding-left: 10px;
}

.header .menu ::-ms-input-placeholder {
  padding-left: 10px;
}

.header .menu ::placeholder {
  padding-left: 10px;
}

.header .menu .text-benutzer {
  width: 100%;
  height: 20px;
  padding: 12px 0 12px 10px;
  resize: vertical;
  background-color: #838b8b;
}

.header .menu .text-password {
  width: 100%;
  height: 20px;
  padding: 12px 0 12px 10px;
  resize: vertical;
  background-color: #838b8b;
}

.header .menu .login {
  width: 100%;
  padding: 10px;
  resize: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.header .menu .registrierung {
  width: 100%;
  padding: 10px 15px 10px 15px;
  resize: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    padding-left: 0;
    margin-left: 0;
  }
  .header .forum_inhalt .answer {
    text-decoration: none;
    padding-top: 50px;
  }
  .header .forum_inhalt .answer .forum_tabelle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    width: 100%;
  }
  .header .forum_inhalt .answer .forum_tabelle .headline {
    margin-left: 30px;
    padding: 9px 0 3px 0;
    font-weight: bold;
    font-size: 50px;
    text-align: left;
  }
  .header .forum_inhalt .answer:hover {
    -webkit-text-emphasis: none;
            text-emphasis: none;
  }
  .header .menu .line {
    display: none;
  }
  .header .menu #benutzer {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .header .menu #password {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .header .menu .text-benutzer {
    background: none;
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 740px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
  }
  .header .menu .text-password {
    background: none;
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
  }
  .header .menu .login {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
  }
  .header .menu .registrierung {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: auto;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 1200px) {
  .header .headline {
    margin-top: 0;
    font-size: 45px;
    padding: 3px 0 3px 0;
  }
  .header .menu .login {
    right: 180px;
  }
  .header .menu .registrierung {
    right: 50px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container .main-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  max-height: 100%;
  height: 100%;
}

.container .main-left ul li {
  list-style: none;
}

.container .main-left ul li .link {
  color: black;
  text-decoration: none;
}

.container .main-left ul li .link:hover {
  text-decoration: none;
}

.container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.container {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .regestrieren {
  margin-top: 15px;
}

.container .regestrieren .benutzer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .regestrieren .benutzer .benutzer {
  max-width: 200px;
  width: 200px;
}

.container .regestrieren .benutzer #benutzername {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .benutzer .email {
  max-width: 200px;
  width: 200px;
  padding-left: 10px;
}

.container .regestrieren .benutzer #email {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .regestrieren .name .firstname {
  max-width: 200px;
  width: 200px;
}

.container .regestrieren .name #firstname {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .name .lastname {
  max-width: 200px;
  width: 200px;
  padding-left: 10px;
}

.container .regestrieren .name #lastname {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .password-abfrage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .regestrieren .password-abfrage .password {
  max-width: 200px;
  width: 200px;
}

.container .regestrieren .password-abfrage #password {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .password-abfrage .repeatpassword {
  max-width: 200px;
  width: 200px;
  padding-left: 10px;
}

.container .regestrieren .password-abfrage #repeatpassword {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.container .regestrieren .registrierung {
  padding: 5px 10px 5px 10px;
  background-color: green;
  border: none;
  font-size: 16px;
  border-radius: 3px;
}

.container .regestrieren .zurück {
  padding: 5px 10px 5px 10px;
  background-color: blue;
  width: auto;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.container .regestrieren .zurück:hover {
  text-decoration: none;
}

.container .profil_inhalt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.container .profil_inhalt .profil_tabelle {
  padding: 40px;
  max-width: 100%;
  width: 100%;
}

.container .profil_inhalt .profil_tabelle .update {
  padding: 5px 10px 5px 10px;
  background-color: green;
  width: auto;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.container .profil_inhalt .profil_tabelle .update:hover {
  text-decoration: none;
}

.container .profil_inhalt .profil_tabelle .zurück {
  padding: 5px 10px 5px 10px;
  background-color: blue;
  width: auto;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.container .profil_inhalt .profil_tabelle .zurück:hover {
  text-decoration: none;
}

.container .profil_inhalt .profil_tabelle .profil {
  font-weight: bold;
}

.container .profil_inhalt .profil_tabelle .inhalt {
  padding-left: 20px;
  font-weight: normal;
}

.profileding {
  padding-top: 20px;
}

.profileding .benutzer-bearbeiten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileding .benutzer-bearbeiten .bearbeiten-email {
  max-width: 200px;
  width: 200px;
  margin-left: 2%;
}

.profileding .benutzer-bearbeiten .bearbeiten-benutzername {
  max-width: 200px;
  width: 200px;
}

.profileding .benutzer-bearbeiten .benutzername-eding {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.profileding .benutzer-bearbeiten .email-eding {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.profileding .name-bearbeiten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileding .name-bearbeiten .bearbeiten-lastname {
  max-width: 200px;
  width: 200px;
  margin-left: 2%;
}

.profileding .name-bearbeiten .bearbeiten-firstname {
  max-width: 200px;
  width: 200px;
}

.profileding .name-bearbeiten .firstname-eding {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.profileding .name-bearbeiten .lastname-eding {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.profileding .password-bearbeiten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileding .password-bearbeiten .bearbeiten-password {
  max-width: 200px;
  width: 200px;
}

.profileding .password-bearbeiten .bearbeiten-repeatpassword {
  max-width: 200px;
  width: 200px;
  margin-left: 2%;
}

.profileding .password-bearbeiten .password-eding {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.profileding .password-bearbeiten .repeatpassword-eding {
  max-width: 200px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.profileding .eding {
  padding: 5px 10px 5px 10px;
  background-color: green;
  border: none;
  font-size: 16px;
  border-radius: 3px;
}

.profileding .zurück {
  padding: 5px 10px 5px 10px;
  background-color: blue;
  width: auto;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.profileding .zurück:hover {
  text-decoration: none;
}

.impressum .zurück {
  padding: 5px 10px 5px 10px;
  background-color: blue;
  width: auto;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.impressum .zurück:hover {
  text-decoration: none;
}

.container.theaser {
  display: block;
}

.container.theaser .thaser_innere {
  max-width: 100%;
  width: 200px;
}

.container.theaser .headline {
  margin-top: 10px;
}

.container.theaser .headline #headline {
  max-width: 500px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container.theaser .thema {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container.theaser .thema #theaser_text {
  max-width: 500px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container.theaser .forum {
  padding: 5px 10px 5px 10px;
  background-color: green;
  border: none;
  font-size: 16px;
  border-radius: 3px;
}

.container.theaser .zurück {
  padding: 5px 10px 5px 10px;
  background-color: blue;
  width: auto;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}

.container.theaser .zurück:hover {
  text-decoration: none;
}

.container.theaser_answer .main .container.answer_container {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */